benchmark/results/*
benchmark/results-hetzner-*/*
!benchmark/results/.gitkeep

__pycache__/
node_modules/
.parcel-cache/
test-results/
*.tgz

dist/

target/
.aider*
.gradle

# Go WASM build outputs
go/wasm/evmole.wasm
go/wasm/evmole.wasm.gz
