[package]
name = "evmole"
version = "0.5.0"
edition = "2021"
description = "Extracts function selectors and arguments from EVM bytecode"
authors = ["Maxim Andreev <andreevmaxim@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/cdump/evmole"
exclude = ["/javascript", "/python", "/benchmark", "/.github"]

[dependencies]
alloy-primitives = "0.8"
alloy-dyn-abi = "0.8"

pyo3 = { version = "0.22.2", features = ["extension-module"], optional = true }
wasm-bindgen = { version = "0.2", optional = true }

[features]
python = ["dep:pyo3"]
javascript = ["dep:wasm-bindgen"]

# for dev
trace = []

[lib]
crate-type = ["cdylib", "lib"]
